/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {

   .header-top-address p {
      font-size: 14px;
   }
   .mainmenu ul li {
      padding-right: 18px;
      margin-right: 8px;
   }
   .mainmenu ul li a {
      font-size: 14px;
   }
   .header-btns .black-theme-btn {
      font-size: 13px;
   }
   .header-top-address-wrap ul li {
      padding: 15px;
   }

   h1 {
      font-size: 50px;
   }
   h2 {
      font-size: 38px;
   }
   h3 {
      font-size: 30px;
   }
   h4 {
      font-size: 24px;
   }
   p {
      font-size: 20px;
   }

   .section-content p, .section-black-content p {
      margin-bottom: 30px;
      font-size: 22px;
   }
   .black-theme-btn, .white-theme-btn {
      font-size: 16px;
   }
   

   /* hero */
   .hero-area h1 {
      font-size: 58px;
   }
   .single-hero-slider {
      height: 1100px;
      display: flex !important;
      align-items: center;
      padding-top: 168px;
   }
   .about-area .section-black-content h1 {
      margin-left: -30px;
   }

   /* wheel */
   .wheel-tab-link ul li {
      font-size: 22px;
   }
   .section-black-content h5 {
      font-size: 16px;
   }
   .wheel-area .section-black-content p {
      font-size: 16px;
   }
   .wheel-tab-link ul li span a {
      height: 45px;
      width: 45px;
      line-height: 45px;
      font-size: 24px;
   }

   /* gallery */
   .gallery-img {
      height: 530px;
   }
   /* shop */
   .single-shop-item {
      height: 340px;
   }
   .shop-links li a {
      height: 50px;
      width: 50px;
      line-height: 50px;
      font-size: 16px;
   }
   .shop-text {
      padding-left: 25px;
   }

   /* offer */
   .offer-content {
      padding: 70px 50px;
   }
   .offer-content h3 {
      font-size: 30px;
   }
   .offer-content h1 {
      font-size: 48px;
   }
   .offer-content p {
      font-size: 21px;
   }

   /* product */
   .product-content {
      padding: 20px;
   }
   .product-content h2 {
      font-size: 30px;
   }
   .product-content span {
      font-size: 24px;
      color: var(--theme-color);
      margin-bottom: 10px;
      display: block;
   }
   .product-content p {
      font-size: 20px;
      margin-bottom: 20px;
   }

   /* testimonial */
   .testimonial-content {
      padding: 40px 30px;
      padding-top: 60px;
   }
   .single-testimonial-item p {
      font-size: 18px;
      padding-bottom: 20px;
      margin-bottom: 20px;
   }
   .client-info h5 {
      font-size: 16px;
   }

   .testimonial-text h1 {
      font-size: 45px;
   }
   .testimonial-text p {
      font-size: 18px;
   }
   .testimonial-text ul li {
      font-size: 20px;
   }
   .client-info .ratting-star ul li {
      font-size: 12px;
   }
   .tesimonial-play-btn .play-btn {
      line-height: 100px;
      height: 100px;
      width: 100px;
      color: var(--theme-color);
      font-size: 25px;
   }

   /* product2 */
   .product2-info h4 {
      font-size: 25px;
   }
   .product2-info span {
      font-size: 18px;
   }
   .product2-info {
      background: #fff;
      padding: 30px 25px;
   }
   .shop2-text h4 {
      font-size: 25px;
   }
   .sizes span {
      font-size: 16px;
      margin: 0 2px;
   }
   .single-shop2-item {
      height: 360px;
   }
   .single-shop2-item img {
      margin-bottom: 60px;
   }

   /* location */
   .location-address h4 {
      font-size: 25px;
   }
   .location-address ul li h5 {
      font-size: 18px;
   }

   .gray-carousel-arrow,
   .gallery-active-slider {
      padding-bottom: 100px;
   }
   .gray-carousel-arrow .slick-arrow,
   .gallery-active-slider .slick-arrow{
      left: calc(50% - 70px) !important;
      top: auto;
      transform: none;
      bottom: 0;
      
   }
   .gray-carousel-arrow .slick-arrow.slick-next,
   .gallery-active-slider .slick-arrow.slick-next{
      right: calc(50% - 70px) !important;
      left: auto !important;
   }



}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {

   .header-top-address p {
      font-size: 14px;
   }
   .mainmenu ul li {
      padding-right: 18px;
      margin-right: 8px;
   }
   .mainmenu ul li a {
      font-size: 14px;
   }
   .header-btns .black-theme-btn {
      font-size: 13px;
   }
   .header-top-address-wrap ul li {
      padding: 15px;
   }

   h1 {
      font-size: 50px;
   }
   h2 {
      font-size: 38px;
   }
   h3 {
      font-size: 30px;
   }
   h4 {
      font-size: 24px;
   }
   p {
      font-size: 20px;
   }

   .section-content p, .section-black-content p {
      margin-bottom: 30px;
      font-size: 22px;
   }
   .black-theme-btn, .white-theme-btn {
      font-size: 16px;
   }
   

   /* hero */
   .hero-area h1 {
      font-size: 58px;
   }
   .single-hero-slider {
      height: 1100px;
      display: flex !important;
      align-items: center;
      padding-top: 168px;
   }
   .about-area .section-black-content h1 {
      margin-left: -30px;
   }

   /* wheel */
   .wheel-tab-link ul li {
      font-size: 22px;
   }
   .section-black-content h5 {
      font-size: 16px;
   }
   .wheel-area .section-black-content p {
      font-size: 16px;
   }
   .wheel-tab-link ul li span a {
      height: 45px;
      width: 45px;
      line-height: 45px;
      font-size: 24px;
   }

   /* gallery */
   .gallery-img {
      height: 530px;
   }
   /* shop */
   .single-shop-item {
      height: 340px;
   }
   .shop-links li a {
      height: 50px;
      width: 50px;
      line-height: 50px;
      font-size: 16px;
   }
   .shop-text {
      padding-left: 25px;
   }

   /* offer */
   .offer-content {
      padding: 70px 50px;
   }
   .offer-content h3 {
      font-size: 30px;
   }
   .offer-content h1 {
      font-size: 48px;
   }
   .offer-content p {
      font-size: 21px;
   }

   /* product */
   .product-content {
      padding: 20px;
   }
   .product-content h2 {
      font-size: 30px;
   }
   .product-content span {
      font-size: 24px;
      color: var(--theme-color);
      margin-bottom: 10px;
      display: block;
   }
   .product-content p {
      font-size: 20px;
      margin-bottom: 20px;
   }

   /* testimonial */
   .testimonial-content {
      padding: 40px 30px;
      padding-top: 60px;
   }
   .single-testimonial-item p {
      font-size: 18px;
      padding-bottom: 20px;
      margin-bottom: 20px;
   }
   .client-info h5 {
      font-size: 16px;
   }

   .testimonial-text h1 {
      font-size: 45px;
   }
   .testimonial-text p {
      font-size: 18px;
   }
   .testimonial-text ul li {
      font-size: 20px;
   }
   .client-info .ratting-star ul li {
      font-size: 12px;
   }
   .tesimonial-play-btn .play-btn {
      line-height: 100px;
      height: 100px;
      width: 100px;
      color: var(--theme-color);
      font-size: 25px;
   }

   /* product2 */
   .product2-info h4 {
      font-size: 25px;
   }
   .product2-info span {
      font-size: 18px;
   }
   .product2-info {
      background: #fff;
      padding: 30px 25px;
   }
   .shop2-text h4 {
      font-size: 25px;
   }
   .sizes span {
      font-size: 16px;
      margin: 0 2px;
   }
   .single-shop2-item {
      height: 360px;
   }
   .single-shop2-item img {
      margin-bottom: 60px;
   }

   /* location */
   .location-address h4 {
      font-size: 25px;
   }
   .location-address ul li h5 {
      font-size: 18px;
   }

   .gray-carousel-arrow,
   .gallery-active-slider {
      padding-bottom: 100px;
   }
   .gray-carousel-arrow .slick-arrow,
   .gallery-active-slider .slick-arrow{
      left: calc(50% - 70px) !important;
      top: auto;
      transform: none;
      bottom: 0;
      
   }
   .gray-carousel-arrow .slick-arrow.slick-next,
   .gallery-active-slider .slick-arrow.slick-next{
      right: calc(50% - 70px) !important;
      left: auto !important;
   }

   /* footer */
   .footer-menu ul li {
      width: 100%;
   }

}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
   .header-menu-wrap, .header-top-address-wrap {
      display: none;
   }
   .header-content{
      background: #1B1B1B;
   }
   .header-content .logo img{
      max-width: 220px;
   }
    
   h1 {
      font-size: 36px;
   }
   h2 {
      font-size: 32px;
   }
   h3 {
      font-size: 30px;
   }
   h4 {
      font-size: 23px;
   }
   p {
      font-size: 17px;
   }

   /* hero */
   .hero-area .section-content h1 {
      font-size: 38px;
   }
   .section-content p, .section-black-content p {
      margin-bottom: 25px;
      font-size: 18px;
   }
   .black-theme-btn, .white-theme-btn {
      font-size: 14px;
   }
   .slick-slider {
      padding-bottom: 70px;
   }
   .slick-arrow {
      font-size: 18px;
      height: 50px;
      width: 50px;
      line-height: 50px;
      transform: none;
      top: auto;
      bottom: 0;
      left: calc(50% - 55px) !important;
   }
   .slick-arrow.slick-next{
      left: auto !important;
      right: calc(50% - 55px) !important;
   }
   .hero-active-slider .slick-arrow {
      bottom: 20px;
   }
   .hero-active-slider.slick-slider{
      padding-bottom: 0;
   }
   .single-hero-slider {
      height: 700px;
      padding-top: 70px;
      padding-bottom: 80px;
   }

   /* about */
   .about-area .section-black-content h1 {
      margin-bottom: 15px;
      margin-left: 0;
   }
   .about-area .section-black-content p {
      margin-bottom: 15px;
   }
   .about-btn a {
      margin: 5px;
   }
   .about-btn .video-btn span {
      height: 45px;
      width: 45px;
      line-height: 45px;
      font-size: 12px;
   }

   /* service */
   .section-title p, .section-black-title p {
      font-size: 18px;
   }
   .single-service-item {
      padding: 30px 20px;
      text-align: center;
   }
   .service-item-img {
      margin-bottom: 10px;
   }
   .service-item-text h4 {
      font-size: 25px;
   }
   .service-item-text p {
      font-size: 16px;
      margin-bottom: 15px;
   }
   .slick-dots {
      margin-top: 25px;
   }

   /* wheel */
   .wheel-tab-link {
      padding: 0;
   }
   .wheel-tab-link ul li {
      font-size: 20px;
   }
   .wheel-tab-link ul li span a {
      height: 45px;
      width: 45px;
      line-height: 45px;
      font-size: 18px;
   }
   .section-black-content h5 {
      font-size: 16px;
   }
   .wheel-content .section-black-content{
      padding-right: 0;
   }
   .wheel-area .section-black-content p {
      font-size: 16px;
      line-height: 1.5;
   }

   /* gallery */
   .gallery-img a {
      font-size: 25px;
   }
   .gallery-img {
      height: 600px;
   }

   /* satifaction */
   .play-btn {
      font-size: 22px;
      height: 70px;
      width: 70px;
      line-height: 70px;
   }
   .satisfaction-text h2 {
      font-size: 30px;
      margin-bottom: 0;
   }

   /* shop */
   .single-shop-item {
      margin-top: 40px;
      margin-bottom: 40px;
      height: 360px;
   }
   .single-shop-item:hover .shop-hover::after {
      top: -20px;
      bottom: -20px;
   }
   .shop-text span {
      font-size: 16px;
   }
   .shop-links li a {
      height: 45px;
      width: 45px;
      line-height: 45px;
      font-size: 15px;
   }
   .ratting-star ul li {
      font-size: 13px;
   }
   .shop-text {
      left: 15px;
      right: 15px;
      margin-bottom: -30px;
      padding: 15px;
      text-align: center;
   }

   /* offer */
   .offer-content {
      padding: 40px 20px;
   }
   .offer-content h3 {
      font-size: 20px;
   }
   .offer-content h1 {
      font-size: 42px;
   }
   .offer-content p {
      font-size: 18px;
      margin-bottom: 25px;
   }
   .offer-content > a {
      font-size: 13px;
   }

   /* product */
   .product-img {
      width: 100%;
      height: 445px;
   }
   .product-content {
      padding: 30px 20px;
      text-align: center;
   }
   .product-content h2 {
      font-size: 33px;
   }
   .product-content span {
      font-size: 22px;
   }
   .product-content p {
      font-size: 18px;
      line-height: 1.4;
      margin-bottom: 20px;
   }

   /* testimonial */
   .testimonial-bg {
      width: 100%;
   }
   .tesimonial-content-wrap > div {
      margin-bottom: 30px;
   }
   .testimonial-content {
      padding: 30px 20px;
      padding-top: 45px;
   }
   .abosolute-quote-icon {
      width: 30px;
   }
   .client-info h5 {
      font-size: 18px;
   }
   .single-testimonial-item p {
      font-size: 18px;
      padding-bottom: 25px;
      margin-bottom: 25px;
   }
   .testimonial-active-slider .slick-dots {
      left: 0;
      margin: 0 auto;
   }
   .tesimonial-play-btn {
      text-align: center;
   }
   .tesimonial-play-btn .play-btn {
      line-height: 80px;
      height: 80px;
      width: 80px;
      font-size: 25px;
   }
   .testimonial-text {
      padding-left: 0;
   }
   .testimonial-text h1 {
      font-size: 35px;
   }
   .testimonial-text p {
      font-size: 16px;
   }
   .testimonial-text ul li {
      font-size: 18px;
      padding-left: 20px;
      margin-bottom: 3px;
   }
   .testimonial-text ul li::before {
      top: 10px;
   }

   /* product2 */
   .product2-nav ul li {
      font-size: 14px;
   }
   .single-product2-content {
      height: 380px;
      padding-top: 15px;
      padding-bottom: 15px;
   }
   .product2-info {
      padding: 20px;
      text-align: center;
   }
   .product2-info h4 {
      font-size: 22px;
   }
   .product2-info span {
      font-size: 16px;
      color: #1C1C1C;
   }

   /* why */
   .why-address li h5 {
      font-size: 16px;
   }
   .why-address li h5 span {
      font-size: 17px;
   }
   .why-list {
      padding-left: 0;
   }
   .why-list ul li {
      font-size: 18px;
      padding: 15px;
      padding-left: 35px;
      margin-bottom: 8px;
   }
   .why-list ul li::before {
      left: 10px;
   }

   /* shop2 */
   .single-shop2-item {
      height: 420px;
   }
   .single-shop2-item img {
      margin-bottom: 55px;
   }
   .single-shop2-item:hover::after {
      left: 15px;
      top: 15px;
      right: 15px;
      bottom: 15px;
   }
   .shop2-text h4 {
      font-size: 22px;
   }
   .sizes span {
      font-size: 15px;
      margin: 0 5px;
   }

   /* location */
   .location-address {
      padding-top: 30px;
      padding-left: 15px;
   }
   .location-address h4 {
      font-size: 22px;
   }
   .location-address ul li h5 span {
      font-size: 14px;
      margin-top: 5px;
   }
   .location-address ul li h5 {
      font-size: 16px;
   }
   .location-item > a {
      font-size: 16px;
   }

   /* work */
   .work-area .section-black-content {
      padding-right: 0;
   }
   .work-area .section-black-content p {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: -.02em;
      margin-bottom: 20px;
   }
   .work-list ul li {
      font-size: 16px;
      margin-bottom: 12px;
      padding-left: 25px;
   }

   /* brand */
   .single-brand-item {
      height: 140px;
   }

   /* cta */
   .cta-form h2 {
      font-size: 32px;
   }
   .cta-form form {
      padding: 0;
   }
   .cta-form form input {
      height: 50px;
      border: 2px solid #fff;
      font-size: 16px;
   }
   .cta-form form input::placeholder {
      font-size: 16px;
   }
   .cta-form form button[type="submit"] {
      height: 50px;
   }

   /* footer */
   .blog-post-area > h5 {
      text-align: center;
   }
   .active-blog-post .slick-dots {
      top: auto;
      bottom: 0;
      left: 0;
      margin: 0 auto;
   }
   .active-blog-post.slick-slider {
      padding-bottom: 30px;
   }
   .footer-address ul li h5 {
      font-size: 16px;
      line-height: 1.3;
   }
   .footer-address ul li h5 span{
      font-size: 14px;
      font-weight: 500;
   }
   .footer-logo-wrap p {
      font-size: 16px;
      margin-bottom: 20px;
   }
   .rounded-social-links ul li a {
      font-size: 18px;
      height: 45px;
      width: 45px;
      line-height: 45px;
   }
   .footer-menu ul {
      padding-left: 0;
   }
   .footer-menu ul li {
      width: 100%;
      text-align: center;
   }
   .footer-address ul li {
      text-align: center;
   }
   .footer-address ul li i {
      float: none;
      display: block;
      margin: 0;
      margin-bottom: 10px;
   }
   .footer-address{
      padding-top: 30px;
      padding-bottom: 15px;
   }
   .footer-logo-wrap {
      padding-left: 15px;
      padding-right: 15px;
   }
   .footer-menu {
      padding: 30px 0;
   }
   .footer-menu ul li a {
      font-size: 15px;
      padding-bottom: 13px;
   }
   .footer-menu ul li:last-child a {
      padding-bottom: 0px;
   }
   .copyright {
      font-size: 12px;
      padding: 20px 0;
   }


}

 
/* small mobile :320px. */
@media (max-width: 767px) {
   .header-menu-wrap, .header-top-address-wrap {
      display: none;
   }

   .header-content{
      background: #1B1B1B;
   }
    
   .header-content .logo img{
      max-width: 220px;
   }
    



   h1 {
      font-size: 32px;
   }
   h2 {
      font-size: 30px;
   }
   h3 {
      font-size: 28px;
   }
   h4 {
      font-size: 22px;
   }
   p {
      font-size: 16px;
   }

   /* hero */
   .hero-area .section-content h1 {
      font-size: 35px;
   }
   .section-content p, .section-black-content p {
      margin-bottom: 25px;
      font-size: 18px;
   }
   .black-theme-btn, .white-theme-btn {
      font-size: 14px;
   }
   .slick-slider {
      padding-bottom: 70px;
   }
   .slick-arrow {
      font-size: 18px;
      height: 50px;
      width: 50px;
      line-height: 50px;
      transform: none;
      top: auto;
      bottom: 0;
      left: calc(50% - 55px) !important;
   }
   .slick-arrow.slick-next{
      left: auto !important;
      right: calc(50% - 55px) !important;
   }
   .hero-active-slider .slick-arrow {
      bottom: 20px;
   }
   .hero-active-slider.slick-slider{
      padding-bottom: 0;
   }
   .single-hero-slider {
      height: 700px;
      padding-top: 70px;
      padding-bottom: 80px;
   }

   /* about */
   .section-black-content {
      padding-top: 0;
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;
   }
   .about-area .section-black-content h1 {
      margin-bottom: 15px;
      margin-left: 0;
   }
   .about-area .section-black-content p {
      margin-bottom: 15px;
   }
   .about-btn a {
      margin: 5px;
   }
   .about-btn .video-btn span {
      height: 45px;
      width: 45px;
      line-height: 45px;
      font-size: 12px;
   }

   /* service */
   .section-title p, .section-black-title p {
      font-size: 18px;
   }
   .single-service-item {
      padding: 30px 20px;
      text-align: center;
   }
   .service-item-img {
      margin-bottom: 10px;
   }
   .service-item-text h4 {
      font-size: 25px;
   }
   .service-item-text p {
      font-size: 16px;
      margin-bottom: 15px;
   }
   .slick-dots {
      margin-top: 25px;
   }

   /* wheel */
   .wheel-tab-link {
      padding: 0;
   }
   .wheel-tab-link ul li {
      font-size: 18px;
   }
   .wheel-tab-link ul li span a {
      height: 35px;
      width: 35px;
      line-height: 35px;
      font-size: 16px;
   }
   .section-black-content h5 {
      font-size: 16px;
   }
   .wheel-img img {
      margin-bottom: 20px;
   }
   .wheel-area .section-black-content p {
      font-size: 16px;
      line-height: 1.5;
   }
   .wheel-content {
      padding-bottom: 30px;
   }

   /* gallery */
   .gallery-img a {
      font-size: 25px;
   }
   .gallery-img {
      height: 580px;
   }

   /* satifaction */
   .play-btn {
      font-size: 22px;
      height: 70px;
      width: 70px;
      line-height: 70px;
   }
   .satisfaction-text h2 {
      font-size: 30px;
      margin-bottom: 0;
   }

   /* shop */
   .single-shop-item {
      margin-top: 40px;
      margin-bottom: 40px;
      height: 360px;
   }
   .single-shop-item:hover .shop-hover::after {
      top: -20px;
      bottom: -20px;
   }
   .shop-text span {
      font-size: 16px;
   }
   .shop-links li a {
      height: 45px;
      width: 45px;
      line-height: 45px;
      font-size: 15px;
   }
   .ratting-star ul li {
      font-size: 13px;
   }
   .shop-text {
      left: 15px;
      right: 15px;
      margin-bottom: -30px;
      padding: 15px;
      text-align: center;
   }

   /* offer */
   .offer-img {
      height: 250px;
   }
   .offer-content {
      padding: 40px 20px;
   }
   .offer-content h3 {
      font-size: 20px;
   }
   .offer-content h1 {
      font-size: 42px;
   }
   .offer-content p {
      font-size: 18px;
      margin-bottom: 25px;
   }
   .offer-content > a {
      font-size: 13px;
   }

   /* product */
   .product-img {
      width: 100%;
      height: 445px;
   }
   .product-content {
      padding: 30px 20px;
      text-align: center;
   }
   .product-content h2 {
      font-size: 33px;
   }
   .product-content span {
      font-size: 22px;
   }
   .product-content p {
      font-size: 18px;
      line-height: 1.4;
      margin-bottom: 20px;
   }

   /* testimonial */
   .testimonial-bg {
      width: 100%;
   }
   .tesimonial-content-wrap > div {
      width: 100%;
      margin-bottom: 30px;
   }
   .testimonial-content {
      padding: 30px 20px;
      padding-top: 45px;
   }
   .abosolute-quote-icon {
      width: 30px;
   }
   .client-info h5 {
      font-size: 18px;
   }
   .single-testimonial-item p {
      font-size: 18px;
      padding-bottom: 25px;
      margin-bottom: 25px;
   }
   .testimonial-active-slider .slick-dots {
      left: 0;
      margin: 0 auto;
   }
   .tesimonial-play-btn {
      text-align: center;
   }
   .tesimonial-play-btn .play-btn {
      line-height: 80px;
      height: 80px;
      width: 80px;
      font-size: 25px;
   }
   .testimonial-text {
      padding-left: 0;
   }
   .testimonial-text h1 {
      font-size: 35px;
   }
   .testimonial-text p {
      font-size: 16px;
   }
   .testimonial-text ul li {
      font-size: 18px;
      padding-left: 20px;
      margin-bottom: 3px;
   }
   .testimonial-text ul li::before {
      top: 10px;
   }

   /* product2 */
   .product2-nav ul li {
      display: block;
      text-align: center;
      margin: 0;
      margin-bottom: 5px;
   }
   .product2-nav ul li:after {
      display: none;
   }
   .product2-active-slider,
   .product2-active-slider .slick-slide {
      margin-left: 0px;
      margin-right: 0px;
   }
   .single-product2-content {
      height: 300px;
      padding-top: 15px;
      padding-bottom: 15px;
   }
   .product2-info {
      padding: 20px;
      text-align: center;
   }
   .product2-info h4 {
      font-size: 22px;
   }
   .product2-info span {
      font-size: 16px;
      color: #1C1C1C;
   }

   /* why */
   .why-address li h5 {
      font-size: 16px;
   }
   .why-address li h5 span {
      font-size: 17px;
   }
   .why-list {
      padding-left: 0;
   }
   .why-list ul li {
      font-size: 18px;
      padding: 15px;
      padding-left: 35px;
      margin-bottom: 8px;
   }
   .why-list ul li::before {
      left: 10px;
   }

   /* shop2 */
   .single-shop2-item {
      height: 420px;
   }
   .single-shop2-item img {
      margin-bottom: 55px;
   }
   .single-shop2-item:hover::after {
      left: 15px;
      top: 15px;
      right: 15px;
      bottom: 15px;
   }
   .shop2-text h4 {
      font-size: 22px;
   }
   .sizes span {
      font-size: 15px;
      margin: 0 5px;
   }

   /* location */
   .location-address {
      padding-top: 30px;
      padding-left: 15px;
   }
   .location-address h4 {
      font-size: 22px;
   }
   .location-address ul li h5 span {
      font-size: 14px;
      margin-top: 5px;
   }
   .location-address ul li h5 {
      font-size: 16px;
   }
   .location-item > a {
      font-size: 16px;
   }

   /* work */
   .work-area .section-black-content {
      padding-right: 0;
      padding-left: 0;
   }
   .work-area .section-black-content p {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: -.02em;
      margin-bottom: 20px;
   }
   .work-list ul li {
      font-size: 16px;
      margin-bottom: 12px;
      padding-left: 25px;
   }

   /* brand */
   .single-brand-item {
      height: 140px;
   }

   /* cta */
   .cta-form h2 {
      font-size: 32px;
   }
   .cta-form form {
      padding: 0;
   }
   .cta-form form input {
      height: 50px;
      border: 2px solid #fff;
      font-size: 16px;
   }
   .cta-form form input::placeholder {
      font-size: 16px;
   }
   .cta-form form button[type="submit"] {
      height: 50px;
   }

   /* footer */
   .blog-post-area > h5 {
      text-align: center;
   }
   .active-blog-post .slick-dots {
      top: auto;
      bottom: 0;
      left: 0;
      margin: 0 auto;
   }
   .active-blog-post.slick-slider {
      padding-bottom: 30px;
   }
   .footer-address ul li h5 {
      font-size: 16px;
      line-height: 1.3;
   }
   .footer-address ul li h5 span{
      font-size: 14px;
      font-weight: 500;
   }
   .footer-logo-wrap p {
      font-size: 16px;
      margin-bottom: 20px;
   }
   .rounded-social-links ul li a {
      font-size: 18px;
      height: 45px;
      width: 45px;
      line-height: 45px;
   }
   .footer-menu ul {
      padding-left: 0;
   }
   .footer-menu ul li {
      width: 100%;
      text-align: center;
   }
   .footer-address ul li {
      text-align: center;
   }
   .footer-address ul li i {
      float: none;
      display: block;
      margin: 0;
      margin-bottom: 10px;
   }
   .footer-logo-wrap {
      border: 0;
      border-top: 1px solid #242424;
      border-bottom: 1px solid #242424;
      padding: 30px 0;
   }
   .footer-address{
      padding-top: 30px;
      padding-bottom: 15px;
   }
   .footer-menu {
      padding: 30px 0;
   }
   .footer-menu ul li a {
      font-size: 15px;
      padding-bottom: 13px;
   }
   .footer-menu ul li:last-child a {
      padding-bottom: 0px;
   }
   .copyright {
      font-size: 12px;
      padding: 20px 0;
   }
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
}